<h1 class="text-center">Team Registration</h1>

<div>
    <form class="form-horizontal" novalidate (ngSubmit)="registerTeam()" [formGroup]="registerForm">
        <fieldset>
            <div class="col-md-12">
                <div class="form-group text-center">
                    <div class="col-md-4" [ngClass]="{'has-error': formErrors.gender}">
                        <div><label class="control-label" for="gender">Gender</label></div>
                        <label class="radio-inline">
                            <input type="radio" formControlName="gender" name="gender" id="genderMale" value="male">Male
                        </label>
                        <label class="radio-inline">
                            <input type="radio" formControlName="gender" name="gender" id="genderFemale" value="female">Female
                        </label>
                    </div>
                    <div class="col-md-4" [ngClass]="{'has-error': formErrors.teamName}">
                        <label class="control-label" for="teamName">Team Name</label>
                        <input class="form-control text-center" id="teamName" type="text" placeholder="Team Name (required)" formControlName="teamName"
                            (blur)="setValidationMessage()" />
                    </div>
                    <div class="col-md-4" [ngClass]="{'has-error': formErrors.division}">
                        <div><label class="control-label" for="division">Division</label></div>
                        <label class="radio-inline">
                            <input type="radio" formControlName="division" name="division" id="division4" value="4.0"> 4.0 / 4.5
                        </label>
                        <label class="radio-inline">
                            <input type="radio" formControlName="division" name="division" id="division35" value="3.5"> 3.5
                        </label>
                        <label class="radio-inline">
                            <input type="radio" formControlName="division" name="division" id="division3" value="3.0"> 3.0 or below
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-md-4 bg-info well-lg">
                <h3 class="text-center">Player 1 (Captain)</h3>
                <div class="form-group text-center" [ngClass]="{'has-error': formErrors.firstName1}">
                    <input class="form-control text-center input-sm" id="firstName1" type="text" placeholder="First Name (required)" formControlName="firstName1"
                        (blur)="setValidationMessage()" />
                </div>
                <div class="form-group text-center" [ngClass]="{'has-error': formErrors.lastName1}">
                    <input class="form-control text-center input-sm" id="lastName1" type="text" placeholder="Last Name (required)" formControlName="lastName1"
                        (blur)="setValidationMessage()" />
                </div>
                <div class="form-group text-center" [ngClass]="{'has-error': formErrors.cellPhone1}">
                    <input class="form-control text-center input-sm" id="cellPhone1" type="text" placeholder="Cell Phone (required)" formControlName="cellPhone1"
                        (blur)="setValidationMessage()" />
                </div>
                <div class="form-group text-center" [ngClass]="{'has-error': formErrors.email1}">
                    <input class="form-control text-center input-sm" id="email1" type="text" placeholder="Email (required)" formControlName="email1"
                        (blur)="setValidationMessage()" />
                </div>
                <div class="form-group" [ngClass]="{'has-error': formErrors.ntrp1}">
                    <div class="text-center"><label for="ntrp">2017 NTRP Rating</label></div>
                    <div class="text-center">
                        <label class="radio-inline">
                            <input type="radio" formControlName="ntrp1" id="p1_radio4" value="4.5"> 4.5
                        </label>
                        <label class="radio-inline">
                            <input type="radio" formControlName="ntrp1" id="p1_radio3" value="4.0"> 4.0
                        </label>
                        <label class="radio-inline">
                            <input type="radio" formControlName="ntrp1" id="p1_radio2" value="3.5"> 3.5
                        </label>
                        <label class="radio-inline">
                            <input type="radio" formControlName="ntrp1" id="p1_radio1" value="3.0"> 3.0 and below
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-md-4 bg-success well-lg">
                <h3 class="text-center">Player 2</h3>
                <div class="form-group text-center" [ngClass]="{'has-error': formErrors.firstName2}">
                    <input class="form-control text-center input-sm" id="firstName2" type="text" placeholder="First Name (required)" formControlName="firstName2"
                        (blur)="setValidationMessage()" />
                </div>
                <div class="form-group text-center" [ngClass]="{'has-error': formErrors.lastName2}">
                    <input class="form-control text-center input-sm" id="lastName2" type="text" placeholder="Last Name (required)" formControlName="lastName2"
                        (blur)="setValidationMessage()" />
                </div>
                <div class="form-group text-center" [ngClass]="{'has-error': formErrors.cellPhone2}">
                    <input class="form-control text-center input-sm" id="cellPhone2" type="text" placeholder="Cell Phone (required)" formControlName="cellPhone2"
                        (blur)="setValidationMessage()" />
                </div>
                <div class="form-group text-center" [ngClass]="{'has-error': formErrors.email2}">
                    <input class="form-control text-center input-sm" id="email2" type="text" placeholder="Email (required)" formControlName="email2"
                        (blur)="setValidationMessage()" />
                </div>
                <div class="form-group" [ngClass]="{'has-error': formErrors.ntrp2}">
                    <div class="text-center"><label for="ntrp">2017 NTRP Rating</label></div>
                    <div class="text-center">
                        <label class="radio-inline">
                            <input type="radio" formControlName="ntrp2" id="p2_radio4" value="4.5"> 4.5
                        </label>
                        <label class="radio-inline">
                            <input type="radio" formControlName="ntrp2" id="p2_radio3" value="4.0"> 4.0
                        </label>
                        <label class="radio-inline">
                            <input type="radio" formControlName="ntrp2" id="p2_radio2" value="3.5"> 3.5
                        </label>
                        <label class="radio-inline">
                            <input type="radio" formControlName="ntrp2" id="p2_radio1" value="3.0"> 3.0 and below
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-md-4 bg-info well-lg">
                <h3 class="text-center">Player 3</h3>
                <div class="form-group text-center" [ngClass]="{'has-error': formErrors.firstName3}">
                    <input class="form-control text-center input-sm" id="firstName3" type="text" placeholder="First Name (required)" formControlName="firstName3"
                        (blur)="setValidationMessage()" />
                </div>
                <div class="form-group text-center" [ngClass]="{'has-error': formErrors.lastName3}">
                    <input class="form-control text-center input-sm" id="lastName3" type="text" placeholder="Last Name (required)" formControlName="lastName3"
                        (blur)="setValidationMessage()" />
                </div>
                <div class="form-group text-center" [ngClass]="{'has-error': formErrors.cellPhone3}">
                    <input class="form-control text-center input-sm" id="cellPhone3" type="text" placeholder="Cell Phone (required)" formControlName="cellPhone3"
                        (blur)="setValidationMessage()" />
                </div>
                <div class="form-group text-center" [ngClass]="{'has-error': formErrors.email3}">
                    <input class="form-control text-center input-sm" id="email3" type="text" placeholder="Email (required)" formControlName="email3"
                        (blur)="setValidationMessage()" />
                </div>
                <div class="form-group" [ngClass]="{'has-error': formErrors.ntrp3}">
                    <div class="text-center"><label for="ntrp">2017 NTRP Rating</label></div>
                    <div class="text-center">
                        <label class="radio-inline">
                            <input type="radio" formControlName="ntrp3" id="p3_radio4" value="4.5"> 4.5
                        </label>
                        <label class="radio-inline">
                            <input type="radio" formControlName="ntrp3" id="p3_radio3" value="4.0"> 4.0
                        </label>
                        <label class="radio-inline">
                            <input type="radio" formControlName="ntrp3" id="p3_radio2" value="3.5"> 3.5
                        </label>
                        <label class="radio-inline">
                            <input type="radio" formControlName="ntrp3" id="p3_radio1" value="3.0"> 3.0 and below
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-md-4 bg-success well-lg">
                <h3 class="text-center">Player 4</h3>
                <div class="form-group text-center" [ngClass]="{'has-error': formErrors.firstName4}">
                    <input class="form-control text-center input-sm" id="firstName4" type="text" placeholder="First Name (required)" formControlName="firstName4"
                        (blur)="setValidationMessage()" />
                </div>
                <div class="form-group text-center" [ngClass]="{'has-error': formErrors.lastName4}">
                    <input class="form-control text-center input-sm" id="lastName4" type="text" placeholder="Last Name (required)" formControlName="lastName4"
                        (blur)="setValidationMessage()" />
                </div>
                <div class="form-group text-center" [ngClass]="{'has-error': formErrors.cellPhone4}">
                    <input class="form-control text-center input-sm" id="cellPhone4" type="text" placeholder="Cell Phone (required)" formControlName="cellPhone4"
                        (blur)="setValidationMessage()" />
                </div>
                <div class="form-group text-center" [ngClass]="{'has-error': formErrors.email4}">
                    <input class="form-control text-center input-sm" id="email4" type="text" placeholder="Email (required)" formControlName="email4"
                        (blur)="setValidationMessage()" />
                </div>
                <div class="form-group" [ngClass]="{'has-error': formErrors.ntrp4}">
                    <div class="text-center"><label for="ntrp">2017 NTRP Rating</label></div>
                    <div class="text-center">
                        <label class="radio-inline">
                            <input type="radio" formControlName="ntrp4" id="p4_radio4" value="4.5"> 4.5
                        </label>
                        <label class="radio-inline">
                            <input type="radio" formControlName="ntrp4" id="p4_radio3" value="4.0"> 4.0
                        </label>
                        <label class="radio-inline">
                            <input type="radio" formControlName="ntrp4" id="p4_radio2" value="3.5"> 3.5
                        </label>
                        <label class="radio-inline">
                            <input type="radio" formControlName="ntrp4" id="p4_radio1" value="3.0"> 3.0 and below
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-4 bg-info well-lg">
                <h3 class="text-center">Player 5</h3>
                <div class="form-group text-center" [ngClass]="{'has-error': formErrors.firstName5}">
                    <input class="form-control text-center input-sm" id="firstName5" type="text" placeholder="First Name (required)" formControlName="firstName5"
                        (blur)="setValidationMessage()" />
                </div>
                <div class="form-group text-center" [ngClass]="{'has-error': formErrors.lastName5}">
                    <input class="form-control text-center input-sm" id="lastName5" type="text" placeholder="Last Name (required)" formControlName="lastName5"
                        (blur)="setValidationMessage()" />
                </div>
                <div class="form-group text-center" [ngClass]="{'has-error': formErrors.cellPhone5}">
                    <input class="form-control text-center input-sm" id="cellPhone5" type="text" placeholder="Cell Phone (required)" formControlName="cellPhone5"
                        (blur)="setValidationMessage()" />
                </div>
                <div class="form-group text-center" [ngClass]="{'has-error': formErrors.email5}">
                    <input class="form-control text-center input-sm" id="email5" type="text" placeholder="Email (required)" formControlName="email5"
                        (blur)="setValidationMessage()" />
                </div>
                <div class="form-group" [ngClass]="{'has-error': formErrors.ntrp5}">
                    <div class="text-center"><label for="ntrp">2017 NTRP Rating</label></div>
                    <div class="text-center">
                        <label class="radio-inline">
                            <input type="radio" formControlName="ntrp5" id="p1_radio4" value="4.5"> 4.5
                        </label>
                        <label class="radio-inline">
                            <input type="radio" formControlName="ntrp5" id="p1_radio3" value="4.0"> 4.0
                        </label>
                        <label class="radio-inline">
                            <input type="radio" formControlName="ntrp5" id="p1_radio2" value="3.5"> 3.5
                        </label>
                        <label class="radio-inline">
                            <input type="radio" formControlName="ntrp5" id="p1_radio1" value="3.0"> 3.0 and below
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-md-4 bg-success well-lg">
                <h3 class="text-center">Player 6</h3>
                <div class="form-group text-center" [ngClass]="{'has-error': formErrors.firstName6}">
                    <input class="form-control text-center input-sm" id="firstName6" type="text" placeholder="First Name (required)" formControlName="firstName6"
                        (blur)="setValidationMessage()" />
                </div>
                <div class="form-group text-center" [ngClass]="{'has-error': formErrors.lastName6}">
                    <input class="form-control text-center input-sm" id="lastName6" type="text" placeholder="Last Name (required)" formControlName="lastName6"
                        (blur)="setValidationMessage()" />
                </div>
                <div class="form-group text-center" [ngClass]="{'has-error': formErrors.cellPhone6}">
                    <input class="form-control text-center input-sm" id="cellPhone6" type="text" placeholder="Cell Phone (required)" formControlName="cellPhone6"
                        (blur)="setValidationMessage()" />
                </div>
                <div class="form-group text-center" [ngClass]="{'has-error': formErrors.email6}">
                    <input class="form-control text-center input-sm" id="email6" type="text" placeholder="Email (required)" formControlName="email6"
                        (blur)="setValidationMessage()" />
                </div>
                <div class="form-group" [ngClass]="{'has-error': formErrors.ntrp6}">
                    <div class="text-center"><label for="ntrp">2017 NTRP Rating</label></div>
                    <div class="text-center">
                        <label class="radio-inline">
                            <input type="radio" formControlName="ntrp6" id="p2_radio4" value="4.5"> 4.5
                        </label>
                        <label class="radio-inline">
                            <input type="radio" formControlName="ntrp6" id="p2_radio3" value="4.0"> 4.0
                        </label>
                        <label class="radio-inline">
                            <input type="radio" formControlName="ntrp6" id="p2_radio2" value="3.5"> 3.5
                        </label>
                        <label class="radio-inline">
                            <input type="radio" formControlName="ntrp6" id="p2_radio1" value="3.0"> 3.0 and below
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-md-4 bg-info well-lg" [hidden]="hideP7">
                <h3 class="text-center">Player 7</h3>
                <div class="form-group text-center" [ngClass]="{'has-error': formErrors.firstName7}">
                    <input class="form-control text-center input-sm" id="firstName7" type="text" placeholder="First Name (required)" formControlName="firstName7"
                        (blur)="setValidationMessage()" />
                </div>
                <div class="form-group text-center" [ngClass]="{'has-error': formErrors.lastName7}">
                    <input class="form-control text-center input-sm" id="lastName7" type="text" placeholder="Last Name (required)" formControlName="lastName7"
                        (blur)="setValidationMessage()" />
                </div>
                <div class="form-group text-center" [ngClass]="{'has-error': formErrors.cellPhone7}">
                    <input class="form-control text-center input-sm" id="cellPhone7" type="text" placeholder="Cell Phone (required)" formControlName="cellPhone7"
                        (blur)="setValidationMessage()" />
                </div>
                <div class="form-group text-center" [ngClass]="{'has-error': formErrors.email7}">
                    <input class="form-control text-center input-sm" id="email7" type="text" placeholder="Email (required)" formControlName="email7"
                        (blur)="setValidationMessage()" />
                </div>
                <div class="form-group">
                    <div class="text-center"><label for="ntrp">2017 NTRP Rating</label></div>
                    <div class="text-center">
                        <label class="radio-inline">
                            <input type="radio" formControlName="ntrp7" id="p3_radio4" value="4.5"> 4.5
                        </label>
                        <label class="radio-inline">
                            <input type="radio" formControlName="ntrp7" id="p3_radio3" value="4.0"> 4.0
                        </label>
                        <label class="radio-inline">
                            <input type="radio" formControlName="ntrp7" id="p3_radio2" value="3.5"> 3.5
                        </label>
                        <label class="radio-inline">
                            <input type="radio" formControlName="ntrp7" id="p3_radio1" value="3.0"> 3.0 and below
                        </label>
                    </div>
                </div>
                <div id="removePlayer7" class="text-center"><span (click)="removePlayer()" class="text-danger fa fa-remove" style="cursor:pointer;">Remove</span></div>
            </div>

            <div class="col-md-4 bg-success well-lg" id="player8" [hidden]="hideP8">
                <h3 class="text-center">Player 8</h3>
                <div class="form-group text-center" [ngClass]="{'has-error': formErrors.firstName8}">
                    <input class="form-control text-center input-sm" id="firstName8" type="text" placeholder="First Name (required)" formControlName="firstName8"
                        (blur)="setValidationMessage()" />
                </div>
                <div class="form-group text-center" [ngClass]="{'has-error': formErrors.lastName8}">
                    <input class="form-control text-center input-sm" id="lastName8" type="text" placeholder="Last Name (required)" formControlName="lastName8"
                        (blur)="setValidationMessage()" />
                </div>
                <div class="form-group text-center" [ngClass]="{'has-error': formErrors.cellPhone8}">
                    <input class="form-control text-center input-sm" id="cellPhone8" type="text" placeholder="Cell Phone (required)" formControlName="cellPhone8"
                        (blur)="setValidationMessage()" />
                </div>
                <div class="form-group text-center" [ngClass]="{'has-error': formErrors.email8}">
                    <input class="form-control text-center input-sm" id="email8" type="text" placeholder="Email (required)" formControlName="email8"
                        (blur)="setValidationMessage()" />
                </div>
                <div class="form-group">
                    <div class="text-center"><label for="ntrp">2017 NTRP Rating</label></div>
                    <div class="text-center">
                        <label class="radio-inline">
                            <input type="radio" formControlName="ntrp8" id="p4_radio4" value="4.5"> 4.5
                        </label>
                        <label class="radio-inline">
                            <input type="radio" formControlName="ntrp8" id="p4_radio3" value="4.0"> 4.0
                        </label>
                        <label class="radio-inline">
                            <input type="radio" formControlName="ntrp8" id="p4_radio2" value="3.5"> 3.5
                        </label>
                        <label class="radio-inline">
                            <input type="radio" formControlName="ntrp8" id="p4_radio1" value="3.0"> 3.0 and below
                        </label>
                    </div>
                </div>
                <div id="removePlayer8" class="text-center"><span (click)="removePlayer()" class="text-danger fa fa-remove" style="cursor:pointer;">Remove</span></div>
            </div>


            <div class="col-md-12 text-center panel-heading">
                <a (click)="addPlayer()" style="cursor:pointer;" *ngIf="hideP8"><span class="fa fa-user-plus" style="cursor:pointer;"></span> Add player ([$25 each] max 8)</a>
            </div>

            <div class="col-md-4 col-md-offset-4 text-center bg-warning" *ngIf="!registerForm.valid && registerForm.touched" style="margin-bottom:1em;">
                <span class="text-danger center-block" *ngIf="formErrors.gender">{{formErrors.gender}}</span>
                <span class="text-danger center-block" *ngIf="formErrors.teamName">{{formErrors.teamName}}</span>
                <span class="text-danger center-block" *ngIf="formErrors.division">{{formErrors.division}}</span>
                <span class="text-danger center-block" *ngIf="formErrors.firstName1">{{formErrors.firstName1}}</span>
                <span class="text-danger center-block" *ngIf="formErrors.lastName1">{{formErrors.lastName1}}</span>
                <span class="text-danger center-block" *ngIf="formErrors.cellPhone1">{{formErrors.cellPhone1}}</span>
                <span class="text-danger center-block" *ngIf="formErrors.email1">{{formErrors.email1}}</span>
                <span class="text-danger center-block" *ngIf="formErrors.ntrp1">{{formErrors.ntrp1}}</span>
                <span class="text-danger center-block" *ngIf="formErrors.firstName2">{{formErrors.firstName2}}</span>
                <span class="text-danger center-block" *ngIf="formErrors.lastName2">{{formErrors.lastName2}}</span>
                <span class="text-danger center-block" *ngIf="formErrors.cellPhone2">{{formErrors.cellPhone2}}</span>
                <span class="text-danger center-block" *ngIf="formErrors.email2">{{formErrors.email2}}</span>
                <span class="text-danger center-block" *ngIf="formErrors.ntrp2">{{formErrors.ntrp2}}</span>
                <span class="text-danger center-block" *ngIf="formErrors.firstName3">{{formErrors.firstName3}}</span>
                <span class="text-danger center-block" *ngIf="formErrors.lastName3">{{formErrors.lastName3}}</span>
                <span class="text-danger center-block" *ngIf="formErrors.cellPhone3">{{formErrors.cellPhone3}}</span>
                <span class="text-danger center-block" *ngIf="formErrors.email3">{{formErrors.email3}}</span>
                <span class="text-danger center-block" *ngIf="formErrors.ntrp3">{{formErrors.ntrp3}}</span>
                <span class="text-danger center-block" *ngIf="formErrors.firstName4">{{formErrors.firstName4}}</span>
                <span class="text-danger center-block" *ngIf="formErrors.lastName4">{{formErrors.lastName4}}</span>
                <span class="text-danger center-block" *ngIf="formErrors.cellPhone4">{{formErrors.cellPhone4}}</span>
                <span class="text-danger center-block" *ngIf="formErrors.email4">{{formErrors.email4}}</span>
                <span class="text-danger center-block" *ngIf="formErrors.ntrp4">{{formErrors.ntrp4}}</span>
                <span class="text-danger center-block" *ngIf="formErrors.firstName5">{{formErrors.firstName5}}</span>
                <span class="text-danger center-block" *ngIf="formErrors.lastName5">{{formErrors.lastName5}}</span>
                <span class="text-danger center-block" *ngIf="formErrors.cellPhone5">{{formErrors.cellPhone5}}</span>
                <span class="text-danger center-block" *ngIf="formErrors.email5">{{formErrors.email5}}</span>
                <span class="text-danger center-block" *ngIf="formErrors.ntrp5">{{formErrors.ntrp5}}</span>
                <span class="text-danger center-block" *ngIf="formErrors.firstName6">{{formErrors.firstName6}}</span>
                <span class="text-danger center-block" *ngIf="formErrors.lastName6">{{formErrors.lastName6}}</span>
                <span class="text-danger center-block" *ngIf="formErrors.cellPhone6">{{formErrors.cellPhone6}}</span>
                <span class="text-danger center-block" *ngIf="formErrors.email6">{{formErrors.email6}}</span>
                <span class="text-danger center-block" *ngIf="formErrors.ntrp6">{{formErrors.ntrp6}}</span>
            </div>

            <div class="form-group col-md-12 text-center">
                <button class="btn btn-lg btn-primary" type="submit" (click)="checkValidationOnSubmit()">Register ${{paymentAmount/100}}</button>
            </div>
        </fieldset>
    </form>
</div>
<div>
    <small class="text-muted">
        By signing up for this tournament confirms my understanding that participation in this leisure activity is on a voluntary,
        recreational basis and that there may be an element of risk involved. Savant Sporting Events, LLC and the host sites are not responsible
        for any injury or accident sustained and encourages all participants to obtain insurance for player protection. By acceptance
        of my entry, on behalf of myself, heirs and legal representative, do hereby release and forever discharge Savant Sporting Events, LLC
        and all its representatives from any and all claims and demand of every kind, nature and character, for any and all damages,
        losses, or injuries which I may sustain in connection with any aspect of participation in this voluntary recreational activity.
    </small>
</div>