<div class="col-md-12 container-fluid">
  <div class="text-center">
    <h1>Click on division below to view the schedule</h1>
  </div>
  <br> <br> 
  <div class="text-center"> 
    <h2>Ladies</h2>
  </div>
  <div class="col-md-4 text-center">
    <a href="../../../assets/Ladies_3.pdf" download="Ladies_3.pdf">Ladies 3.0</a>
  </div>
  <div class="col-md-4 text-center">
    <a href="../../../assets/Ladies_35.pdf" download="Ladies_35.pdf">Ladies 3.5</a>
  </div>
  <div class="col-md-4 text-center">
    <a href="../../../assets/Ladies_4.pdf" download="Ladies_4.pdf">Ladies 4.0</a>
  </div>
  <br> <br> 
  <div class="text-center"> 
    <h2>Men</h2>
  </div>
  <div class="col-md-5 text-center">
    <a href="../../../assets/Men_35.pdf" download="Men_35.pdf">Men 3.5</a>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-5 text-center">
    <a href="../../../assets/Men_4.pdf" download="Men_4.pdf">Men 4.0</a>
  </div>
</div>